.movie-card {
  gap: 5px;

  .card-img {
    width: 153px;
    height: 235px;
    border-radius: 8px;
  }

  .card-img:hover {
    background-color: #1a191f;
    opacity: 0.4;
  }

  .nameOfMovie {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #D9D7E0;
    gap: 10px;
  }

  .subscribe {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #EA003D;
    line-height: 16px;
  }

  .shadow{
    display: none;
    opacity: 0.7;
    position: relative;
    min-width: 155px;
    height: 239px;
    border-radius: 8px;
    color: white;
    padding: 10px;

    .icons {
      display: flex;
      flex-direction: column;
      margin-left: 110px;

      .card-icon {
        padding-top: 10px;
      }
    }

    .info {
      width: 90%;
      position: absolute;
      font-family: 'Inter';
      margin-left: 7%;
      margin-top: 65px;
      bottom: 0;
      width: fit-content;
      height: 50%;

      .rating {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
        color: white;
        opacity: 1;
      }

      .year {
        font-size: 12px;
        color: rgba(255,256,256,.92);
        margin-bottom: 0;
      }
      .country {
        font-size: 12px;
        color: rgba(255,256,256,.92);
        margin-bottom: 0;
      }
      .length {
        margin-top: 10px;
        font-size: 12px;
      }
      .genre {
        font-size: 13px;
        color: rgba(255,256,256,.92);
        margin-bottom: 0;
      }
    }
  }
}

.movie-card:hover {
  .shadow{
    display: block;
    margin-top: -239px;

  }
  transition: 0.25s ease all;
  transform: translateX(0px) translateY(-15px);
}