.new-cartoons {
  padding-top: 24px;
  width: 100%;

  h2 {
    padding-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
    line-height: 28px;
  }
  .carousel, .carousel3 {
    padding-top: 24px;
  }
}