@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import "media";

*{
  margin: 0;
  padding: 0;
  //list-style-type: none;
  text-decoration: none;
  background-color: #100E19;
}
//img{
//  width: 100%;
//}


body {
  box-sizing: border-box;

  .container {
    margin: 0 auto;
    max-width: 1216px;
  }

}



